<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--IRealHourAQIDao映射文件 -->
<mapper namespace="com.gl.webforair.core.dao.IRealHourAQIDao">
	<resultMap id="RealHourAQIMap" type="RealHourAQI">
		<result property="m_Id" column="Id" />
		<result property="m_Portname" column="Portname" />
		<result property="m_DateTime" column="DateTime" />
		<result property="m_SO2" column="SO2" />
		<result property="m_SO2_IAQI" column="SO2_IAQI" />
		<result property="m_NO2" column="NO2" />
		<result property="m_NO2_IAQI" column="NO2_IAQI" />
		<result property="m_PM10" column="PM10" />
		<result property="m_PM10_IAQI" column="PM10_IAQI" />
		<result property="m_CO" column="CO" />
		<result property="m_CO_IAQI" column="CO_IAQI" />
		<result property="m_O3" column="O3" />
		<result property="m_O3_IAQI" column="O3_IAQI" />
		<result property="m_Recent8HoursO3" column="Recent8HoursO3" />
		<result property="m_Recent8HoursO3_IAQI" column="Recent8HoursO3_IAQI" />
		<result property="m_PM2d5" column="PM2d5" />
		<result property="m_PM2d5_IAQI" column="PM2d5_IAQI" />
		<result property="m_AQIValue" column="AQIValue" />
		<result property="m_PrimaryPollutant" column="PrimaryPollutant" />
		<result property="m_DClass" column="Class" />
		<result property="m_Grade" column="Grade" />
		<result property="m_HealthEffect" column="HealthEffect" />
		<result property="m_TakeStep" column="TakeStep" />
	</resultMap>

	<insert id="insert" parameterType="RealHourAQI" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tb_RealHourAQI
		(
			Portname, DateTime, SO2, SO2_IAQI, NO2, NO2_IAQI, PM10, PM10_IAQI, CO, CO_IAQI, O3, O3_IAQI, Recent8HoursO3, Recent8HoursO3_IAQI, PM2d5, PM2d5_IAQI, AQIValue, PrimaryPollutant, Class, Grade, HealthEffect, TakeStep
		)
		VALUES
		(
			#{m_Portname}, #{m_DateTime}, #{m_SO2}, #{m_SO2_IAQI}, #{m_NO2}, #{m_NO2_IAQI}, #{m_PM10}, #{m_PM10_IAQI}, #{m_CO}, #{m_CO_IAQI}, #{m_O3}, #{m_O3_IAQI}, #{m_Recent8HoursO3}, #{m_Recent8HoursO3_IAQI}, #{m_PM2d5}, #{m_PM2d5_IAQI}, #{m_AQIValue}, #{m_PrimaryPollutant}, #{m_DClass}, #{m_Grade}, #{m_HealthEffect}, #{m_TakeStep}
		)
	</insert>

	<delete id="deleteAll">
		DELETE FROM tb_RealHourAQI
	</delete>

	<select id="selectAll" parameterType="java.util.HashMap"
		resultMap="RealHourAQIMap">
		SELECT * FROM tb_RealHourAQI
		ORDER BY dateTime desc
	</select>
</mapper>